body {
	font-family: 'PT Sans', sans-serif;
}
section {
	margin-top: 50px;
	margin-bottom: 50px
}
.nav { 
	margin-bottom: 0;
	padding-top: 10px;
}
.nav > li.dropdown.open { 
	position: static;
}
.nav > li.dropdown.open .dropdown-menu {
	display:table;
	width: 100%;
	text-align: center;
	left:0;
	right:0;
	background: #dbdcde;
}
.dropdown-menu>li { 
	display: table-cell; 
}

.nav > li {
	border-left: 1px solid #dbdcde;
    border-width: 0px 0px 0px 1px;
    border-image: -webkit-linear-gradient(bottom, #dbdcde 20%, rgba(255,255,255,0)) 1 100% 1 100%;
    border-image: linear-gradient(to top, #dbdcde 20%, rgba(255,255,255,0)) 1 100% 1 100%;
    height: 72px;
}
.nav > li > .dropdown-menu , .nav > li.dropdown.open, .nav > li.active{
	background: #dbdcde;
}
.navbar-default .navbar-nav > li > a {
	font-size: 18px;
    font-size: 1.8rem;
    cursor: pointer;
    color: #592C81;
    font-style: normal;
    font-weight: 400;
    max-width: 175px;
    padding-left: 22px;
    padding-right: 22px;
    text-align: center;
}
.navbar-default {
	background-color: #fff;border-color: #e7e7e7;
}
.navbar {
	margin-bottom: 0;
}
.banner-container {
	background-image: url('../images/careersheroimg.jpg');
	background-size: cover;
	background-position: 50% 50%;
	height: 500px;
	position: relative;
}


.caption {
	width:100%;
	bottom: 0rem;
	position: absolute;
    background-color: rgba(75, 31, 106, 0.78);
    color: #dad1d1;
    padding: 20px 0px;
}
.caption h2 {
	margin-bottom: 20px;
}


.btn-blue,.btn-blue:hover {background: #074993;color: #fff;display: inline-block;}

.carousel-container {color: #074993;}

blockquote h2 {font-size:5rem;}

blockquote p , .about-text{font-size: 2rem;line-height: 2.1rem;}

blockquote img {height: 250px;}

.hovereffect {
	width:100%;
	height:100%;
	float:left;
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:default;
}

.hovereffect .overlay {
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	opacity:0;
	background-color: rgba(42, 95, 29, 0.5);
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out
}

.hovereffect img {
	display:block;
	position:relative;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
	width: 100%;
}

.hovereffect h2 {
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	position:relative;
	font-size:17px;
	background:rgba(0,0,0,0.6);
	-webkit-transform:translatey(-100px);
	-ms-transform:translatey(-100px);
	transform:translatey(-100px);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	padding:10px;
}

.hovereffect a.info {
	text-decoration:none;
	display:inline-block;
	text-transform:uppercase;
	color:#fff;
	border:1px solid #fff;
	background-color:transparent;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	margin:50px 0 0;
	padding:7px 14px;
}

.hovereffect a.info:hover {
	box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
	-ms-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}

.hovereffect:hover .overlay {
	opacity:1;
	filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
	opacity:1;
	filter:alpha(opacity=100);
	-ms-transform:translatey(0);
	-webkit-transform:translatey(0);
	transform:translatey(0);
}

.hovereffect:hover a.info {
	-webkit-transition-delay:.2s;
	transition-delay:.2s;
}

.overlay-container h2{
	color: #789c38;margin-bottom: 20px;
}
.overlay {
	padding: 25px;
}

.overlay span {
	color: #fff;
	float:left;
	clear:left;
}
.overlay span:first-child {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
}
.green-btn{
	background-color: #799b3e;
	color: #fff;
	font-weight: bold;
}



/* carousel */
#quote-carousel 
{
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}

/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
.carousel-button{
	margin-top: 15px;
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}


footer{
	margin-top: 50px;
}

footer > .footer-container{
    background-color: #3C1052;
    background: -webkit-linear-gradient(top, #592C81 0%, #3C1052 100%);
    background: linear-gradient(to bottom, #592C81 0%, #3C1052 100%);
    background: -webkit-linear-gradient(to bottom, #592C81 0%, #3C1052 100%);
    margin: 0 auto 0;
    padding: 20px 0px;
}
ul.nav-pills {
	margin: 0;
    padding: 0;
    list-style-type: none;
    color: #ded5d5;
}
ul.nav-pills > li {
	border-right: 1px solid #ded5d5;
	padding: 0px 10px;
}
ul.nav-pills > li:last-child {
	border-right: 0px;
}
.copyright {
	color: #8e8989;
	padding-left: 25px;
}